.task {
    position: relative; 
    padding: 10px;
    font-size: 12px;
  }
  
  .task__input {
      width: 100%;
  }
  .task__text{
      width: 100%; 
      height: 40px;
      padding: 10px;
      font-size: 12px;
  }
  .task__list {
      font-family: "GothamPro";
      display: flex;
      flex-direction: column;
  }

@media screen and (max-width: 768px) {
    .task__list {
        max-width: 500px;
    }
}
@media screen and (max-width: 533px) {
    .task__list {
        max-width: 300px;
    }
}
@media screen and (max-width: 350px) {
    .task__list{
        max-width: 250px;
    }
}
  
  .task-text {
      background-color: transparent;
      border: none;
      display: block;
      outline: none;
      color: inherit;
      padding-left: 16px;
  }
  
.task-btn-container {
    display:flex;
    justify-content: end;
    margin-top: 5px;
} 

.hight-task {
    border-left: 5px solid #F57B5F;
}
.middle-task {
    border-left: 5px solid #FCD66F;
}
.low-task {
    border-left: 5px solid #A9E670;
}

.done-task {
    color: grey;
} 
.delete-task {
    background-color: #1e83d221;
    color: #c0c0c0;
    border-left: none;
}
.done-task input {
    text-decoration: line-through;
}




